# 2018. 03. 28 경데베 2장
## 테스트
- 숫자형
   1. 기능1
   2. 기능2
- 문자형
- 리스트

1. 숫자형
2. 문자형

## 1절 숫자형

In [1]:
123

123

In [2]:
456

456

In [3]:
1+2

3

In [4]:
1*3

3

In [5]:
7/4

1.75

In [6]:
-7/4

-1.75

In [7]:
7//4

1

In [8]:
7%4

3

In [9]:
1-0.9

0.09999999999999998

## 2절 문자형

In [11]:
boy = "I am a boy"
boy

'I am a boy'

In [13]:
girl = 'I am a girl'
girl

'I am a girl'

In [14]:
"I'm a girl"

"I'm a girl"

In [15]:
Friend = """
I am a boy
I am a girl
"""

In [17]:
boy + ' ' + girl

'I am a boy I am a girl'

In [ ]:
Life is too short, You need Python
0         1         2         3 
0123456789012345678901234567890123

In [24]:
# 문자열 인덱싱
a = 'Life is too short, You need Python'
a[0]

'L'

### lab1
#### 수익 계산
- 변수 revenue를 생성 후 98456할당
- 변수 cost를 생성 후 45000 할당
- 변수 profit을 생성 후, revenue와 cost 차이 값으로 설정
- profit 출력

In [20]:
revenue = 98456
cost = 45000
profit = revenue - cost
print(profit)

53456

### lab2
#### 문자열 다루기
- 변수 a를 생성하여, 문자열 'I love Python'
- 변수 b를 생성해서, 문자열 "You hate Python"

In [22]:
a = 'I love Python'
b = 'You hate Python'
a

'I love Python'

In [23]:
a = 'I love Python'
b = 'You hate Python'
b

'You hate Python'

In [43]:
a = "20180328Sunny"
year = a[0:4]
month = a[4:6]
day = a[6:8]
weather = a[8:]
print(year)

TypeError: 'tuple' object is not callable

In [52]:
a = "20180320sunny"
year = str(a[0:4])
month = str(a[4:6])
print(str(year))

TypeError: 'tuple' object is not callable

In [ ]:
print (year, '년', month, '월', '날짜는', weather)

In [34]:
"year년 month월 day일 날짜는 weather 입니다."

'year년 month월 day일 날짜는 weather 입니다.'

In [39]:
print("{year}년 {month}월 {day}일 날짜는 {weather} 입니다." .Format(year=year, day=day, month=month, weather=weather))

AttributeError: 'str' object has no attribute 'Format'

## 문자열 내장함수

In [57]:
a = "hobby"
a.count('b')

2

In [58]:
a = "hobby"
a.find('b')

2

In [59]:
a = ","
a.join("금은동")

'금,은,동'

In [60]:
a = "I Love Python"
a.lower()

'i love python'

In [62]:
a = " hi "
a.lstrip()

'hi '

In [63]:
a = " hi "
a.rstrip()

' hi'

In [64]:
a = "Life is too short"
a.split()

['Life', 'is', 'too', 'short']

### lab3
#### 문자열 포매팅
- 변수 pi를 생성하고 3.141592를 할당하시오
- 변수 sq_root를 생성하고 1.41429를 할당하시오

다음의 출력을 포매팅을 사용하여 만드시오.
- Pi is 3.141592, and square root of 2 is 1.41429

In [54]:
pi = 3.141592
sq_root = 1.41429

In [56]:
print("Pi is {pi}, and square root of 2 is {sq_root}" .Format(pi=pi, sq_root=sq_root))

AttributeError: 'str' object has no attribute 'Format'

## lab2 이어서
- 변수 a를 생성하여, 문자열 "I Love Python"을 할당하시오
- 변수 b를 생성하여, 문자열 "You Hate Python"을 할당하시오

- a에서 첫번째 o의 위치를 a.find()함수로 찾아보시오
- b에서 첫번째 o의 위치를 a.index()함수로 찾아보시오.
- a의 'o' 문자 개수를 세시오

In [65]:
a = "I Love Python"
b = "You Hate Python"

In [71]:
a = "I Love Python"
a.find('o')

3

In [72]:
b = "You Hate Python"
a.index('o')

3

In [73]:
a = "I Love Python"
a.count('o')

2

- 변수 a를 모두 대문자로 바꿔보시오
- 변수 b를 모두 소문자로 바꿔보시오

In [74]:
a = "I Love Python"
a.upper()

'I LOVE PYTHON'

In [75]:
b = "You Hate Python"
a.lower()

'i love python'

In [76]:
a_6 = a[0:7]
a_6

'I Love '

In [77]:
a_6.rstrip()

'I Love'

## 3절 리스트